<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BMI 計算機
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="style.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    

  body
    main.bmi-page
      section.bmi-section
        .container
          .row.text-center
            .col
              img(src="https://github.com/Hazelwu2/BMI-Calculator/blob/master/assets/BMICLogo.png?raw=true", alt="BMICLogo")
            .col.mb-5
              label(for="height") 身高 cm
              input(type="text" name="height" id="bmiHeight" placeholder="請輸入身高" maxlength="3" required)
              label(for="weight") 體重 kg
              input(type="text" name="weight" id="bmiWeight" placeholder="請輸入體重" maxlength="4" required)
            .col
              button(type="submit" id="sendData") 看結果
      section.bmi-list
        h1 BMI 紀錄
        ul.list
      footer
        .container
          .row
            .col-12
              .justify-content-center.text-center
                img(src="https://github.com/Jimmywei01/Pratice/blob/master/BMI2.JPG?raw=true", alt="BMI-Logo")

    script(src="main.js")
    